@media screen and (min-width: 821px) {
  .sidebar-btn {
    visibility: hidden;
  }
  .menu {
    visibility: visible;
  }
  .logo-responsive {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .sidebar-btn {
    visibility: visible;
  }
  .div-1 {
    .menu-item {
      display: none;
    }
    .menu {
      width: 10%;
    }
  }

  .div-1 {
    .logo {
      display: none;
    }
  }

  .div-2 {
    .fadein {
      .motto {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .header-sub {
    .div-2 {
      .fadein {
        .motto {
          visibility: hidden;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .div-1 {
    .logo-responsive {
      width: 180px;
    }
  }
}
