@media screen and (max-width: 1280px) {
  .product-container-parent {
    .product-container {
      display: grid;
      justify-items: center;

      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }
}

@media screen and (max-width: 980px) {
  .product-container-parent {
    padding: 30px 5px 30px 5px;
  }
}
@media screen and (max-width: 820px) {
  .product-container-parent {
    padding: 80px 10px 120px 5px;
    .product-container {
      max-width: 100%;
      grid-template-columns: repeat(1, 1fr) !important;
      grid-gap: 150px;
    }
    h1 {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 779px) {
  .product-container-parent {
    padding: 80px 10px 120px 5px;

    .product-container {
      grid-gap: 10px;
    }
  }
}
