.footer {
  display: grid;
  grid-template-rows: 0.2fr 0.7fr 0.1fr;
  grid-template-columns: 1fr;

  height: 400px;
  background: rgb(240, 240, 240);

  .social-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(207, 207, 207, 0.61);

    .btn {
      margin: 0 30px 0 30px;
    }
  }
}

.footer-bottom {
  background: rgba(207, 207, 207, 0.61);
}
