$black: #000000;

.header {
  height: 100vh;
  background-image: url(../img/header-img.jpg);
  background-size: cover;

  .logo {
    width: 200px;
    margin-left: 30px;
  }

  h1 {
    margin: 0;
    color: white;
  }
  .header-sub {
    display: grid;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    background: rgba(0, 0, 0, 0.541);
    background-size: contain;
    height: 100%;

    .div-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      a {
        text-decoration: none;
        color: white;
      }

      a:visited {
        color: white;
      }

      a:hover {
        border-bottom: 1px solid white;
      }

      .menu {
        display: flex;
        width: 400px;
        justify-content: space-between;
        align-items: center;
        color: white;

        p:hover {
          border-bottom: 1px solid white;
          cursor: default;
        }

        .btn {
          cursor: pointer;
        }

        .btn-favorite {
          transition: color 0.3s;
        }
        .btn-favorite:hover {
          color: rgb(170, 0, 0);
        }

        .btn-cart {
          transition: color 0.3s;
        }
        .btn-cart:hover {
          color: rgb(151, 179, 223);
        }
      }
    }
    .div-2 {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: 200;
        font-size: 28pt;
      }
    }
  }
}
