$black: #000000;

body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-image: url(../img/header-img.jpg);
  background-size: cover;

  .logo {
    width: 200px;
    margin-left: 30px;
  }

  h1 {
    margin: 0;
    color: white;
  }

  .header-sub {
    display: grid;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    background: rgba(0, 0, 0, 0.541);
    background-size: contain;
    height: 100%;

    .div-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      a {
        text-decoration: none;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        transition: border-bottom 0.3s;
      }

      a:visited {
        color: white;
      }

      a:hover {
        border-bottom: 1px solid white;
      }

      .menu {
        display: flex;
        width: 400px;
        justify-content: space-between;
        align-items: center;
        color: white;

        p:hover {
          border-bottom: 1px solid white;
          cursor: default;
        }

        .btn {
          cursor: pointer;
        }

        .btn-favorite {
          transition: color 0.3s;
        }
        .btn-favorite:hover {
          color: rgb(170, 0, 0);
        }

        .btn-cart {
          transition: color 0.3s;
        }
        .btn-cart:hover {
          color: rgb(151, 179, 223);
        }
      }

      .sidebar-btn {
        position: default;
        right: 5%;
        top: 5%;
        color: white;
        margin-right: 30px;
        margin-top: 10px;
        transform: scale(1.5);
      }
    }
    .div-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;

      h1 {
        font-weight: 200;
        font-size: 28pt;
      }
    }
  }

  .favorite-is-empty,
  .cart-is-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 500px;
    background: white;
    color: rgba(0, 0, 0, 0.541);
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }

  .sidebar-hidden {
    display: none;
    margin: 0;
  }
}
