.main-container {
  .modal-cart {
    position: absolute;
    top: 9%;
    right: 3%;
    height: 500px;
    width: 400px;
    background: rgb(240, 240, 240);
    border: 1px solid grey;
    border-radius: 10px;
    overflow: scroll;
    padding: 20px 0 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      border: none;
      background: rgb(49, 49, 49);
      color: rgb(223, 223, 223);
      height: 50px;
      width: 150px;
      font-size: 1pt;
    }

    h4 {
      margin: 3px 0 3px 0;
    }
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }
}
