.modal-product {
  position: fixed;
  height: 700px;
  width: 900px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.hidden {
  visibility: hidden;
}
