.App {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

  overflow-x: hidden;

  text-align: center;

  .banner-1 {
    width: 100%;
  }
}

.chatbot {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
